2D Array : It is an array of arrays and position of an data element is referred by  2 indices

In [3]:
#Sample Data
#arr1 - 11 12 24 13
#arr2 - 15 4 5
#arr3 - 34 4 10 6
#arr4 - 9 8 7 17

#The above data can represented as a two dimentinal array as below:

T = [[11, 12, 24, 13],[15, 4, 5],[34, 4, 10, 6],[9, 8, 7, 17]]

In [7]:
#Accessing Values in Two Dimentional Array

from array import *

T = [[11, 12, 24, 13],[15, 4, 5],[34, 4, 10, 6],[9, 8, 7, 17]]

print(T[2])

print(T[1][2])

[34, 4, 10, 6]
5

In [10]:
#Use For loop to print out the values in different rows 

for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 24 13
15 4 5
34 4 10 6
9 8 7 17

In [13]:
#Inserting value in Two Dimentional Array
from array import *

T = [[11, 12, 24, 13],[15, 4, 5],[34, 4, 10, 6],[9, 8, 7, 17]]

T.insert(2, [0,11,4,6,1])

for r in T:
    for c in r:
        print(c, end = " ")
    print()

11 12 24 13
15 4 5
0 11 4 6 1
34 4 10 6
9 8 7 17

In [14]:
#Updating values in Two Dimensional Array 

from array import *

T = [[11, 12, 24, 13],[15, 4, 5],[34, 4, 10, 6],[9, 8, 7, 17]]

T[2] = [11,17]
T[0][3] = 99

for r in T:
    for c in r:
        print(c, end =" ")
    print()

11 12 24 99
15 4 5
11 17
9 8 7 17

In [18]:
#Deleting the values in TWo Dimentional Array
T = [[11, 12, 24, 13],[15, 4, 5],[34, 4, 10, 6],[9, 8, 7, 17]]

del T[3]

for r in T:
    for c in r:
        print(c, end=" ")
    print()

11 12 24 13
15 4 5
34 4 10 6